# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual Studio Code files
.vscode
.vs

# PyCharm files
.idea
CosyVoice/elon.wav
CosyVoice/austin.wav
CosyVoice/austin-s.wav
CosyVoice/cogman.wav
CosyVoice/cogman-s2.wav
CosyVoice/cross_lingual_0.wav
CosyVoice/instruct_0.wav
CosyVoice/instruct_01.wav
CosyVoice/sft_0.wav
CosyVoice/zero_shot_0.wav
# Eclipse Project settings
*.*project
.settings

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Editor temporaries
*.swn
*.swo
*.swp
*.swm
*~

# IPython notebook checkpoints
.ipynb_checkpoints

# macOS dir files
.DS_Store

exp
data
raw_wav
tensorboard
**/*build*

# Clangd files
.cache
compile_commands.json

# train/inference files
*.wav
*.m4a
*.aac
*.pt
pretrained_models/*
*_pb2_grpc.py
*_pb2.py